@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-base-100 text-base-content pt-2 px-4 sm:px-10 xl:px-12 xxxl:px-36;
  font-family: var(--font-poppins), sans-serif;
  cursor: default;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-bebas-neue), sans-serif;
}

@layer components {
  h2 {
    @apply text-[3rem] sm:text-[5rem] sm:leading-[85%] lg:text-[9rem] 
           font-bold mb-16 lg:mb-24 tracking-[3px] relative;
  }
}

a {
  cursor: pointer;
}

@layer utilities {
  .text-shadow-custom {
    text-shadow: 0px 0px 100px rgba(114, 125, 115, 0.35);
  }
}

/* Dark theme selection */
[data-theme="dark"] ::selection {
  background: #f86ea7;
  color: #ffffff;
}

/* Light theme selection */
[data-theme="light"] ::selection {
  background: #3d3a4a;
  color: #efa5b8;
}
[data-theme="green"] ::selection {
  background: #dcd7c9;
  color: #a27b5c;
}

[data-theme="yellow"] ::selection {
  background: #ff6347;
  color: #ffd700;
}

/* Other themes can follow the same pattern */
